<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css' )}}">
    <script src="{{ url_for('static', filename='js/index.js' )}}"></script>
    <title>Default Flask</title>
</head>
<body>
    <div>
        <h1>Welcome to Your Flask Project</h1>
        <p>This is the default page for your Flask project. You can replace it with your own content.</p>
        <p>For more cool projects, check out my <a href="https://github.com/Morbid1134">GitHub</a>.</p>
    </div>
</body>
</html>